<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Veri_Tabanlı_Parti_Seçim_Grafik_İstatistik.Properties.Settings.DbSecimProjeConnectionString"
            connectionString="Data Source=NETCADYAZ;Initial Catalog=DbSecimProje;Integrated Security=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>